.dashboard {

  &__places {
    margin: 0 24px 10px 0;
    @media (max-width: $phoneWidth) {
      margin: 0 24px;
    }
  }
}
.places {

  &__content {
    width: 536px;
    height: 336px;
    background: url("@img/bg-gallery.jpg") center center;
    position: relative;
    overflow: hidden;
    @media(max-width: $phoneWidth){
      width: 100%;
    }
    &:after{
      content: '';
      z-index:2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right,  #1a2e4a 0%, rgba(39, 53, 71, 0) 40%), 
      linear-gradient(to left, #1a2e4a 0%, rgba(39, 53, 71, 0) 40%);
    	pointer-events: none;
    }
  }

  &__title {
    position: absolute;
    top: 9px;
    left: 8px;
    z-index: 3;
  }

  &__gallery {
    padding: 28px 0;
  }
}
.header {

  &__title {
    color: #fff;
  }
}

.gallery{

  &__image {
    img{
      width: 176px;
      height: 176px;
      border-radius: 100%;
      object-fit: cover;
    }
    margin-bottom: 14px;
  }

  &__title {
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 2px;
  }

  &__desc {
    font-size: 15px;
    margin-bottom: 13px;
    span{
      font-size: 17px;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6f91bf;
    border: 1px solid #6f91bf;
    width: 100%;
    border-radius: 16px;
    line-height: 2;
    &:hover{
      color: #6f91bf;
      border: 1px solid #fff;
      background-color: #6f91bf;
      color: #fff;
    }
  }
}


// slider
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
	align-items: flex-start;
}
.slider{
  position: relative;
}
.slider .slick-arrow{
  position: absolute;
  top: 50%;
	margin-top: -30px;
  z-index: 10;
  font-size: 0;
	width: 30px;
	height: 60px;
	cursor: pointer;
}
.slider .slick-arrow.slick-prev{
  left:0;
	background: url("@img/icons/arrow_l.svg") 0 0 /100% no-repeat;
}
.slider .slick-arrow.slick-next{
  right: 0;
	background: url("@img/icons/arrow_r.svg") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: .1;
	pointer-events: none;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	margin: 0 10px;
	list-style: none;
}
/* Активная точка */
.slider .slick-dots li.slick-active button{
	background-color: #fff;
}
/* Элемент точки */
.slider .slick-dots li button{
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: transparent;
  border: 1px solid #fff;
}
.slider__item{
	text-align: center;
	opacity: .7;
	transition: all 0.3s ease 0s;
	margin: 0 20px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}
.slider__item.slick-center{
	opacity: 1;
	pointer-events: all;
}
